.header-bg {
  background: var(--cor-s1);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header img {
  max-width: 200px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  color: var(--cor-2);
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: " ";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-p2);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

