.clientes-bg{
  background-color: var(--cor-p2);
}

.clientes{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  align-items: center;
}

.clientes ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  }

.clientes h1 {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .clientes {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .clientes ul{
      gap: 30px;
    }
}
