.introducao-bg {
  background: var(--cor-1);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80PX;
  padding-bottom: 80PX;
}

.introducao-conteudo {
  align-self: end;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao h2 {
  margin-bottom: 15px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .introducao h1 {
    margin-bottom: 20px;
  }

  .introducao h2 {
    margin-bottom: 12px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
