.otimizar-bg {
  background: url(../../imagens/banner.png) var(--cor-s1);
  display: flex;
  align-items: center;
}

.otimizar {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
}

.otimizar h1 {
  margin-bottom: 32px;
}

.otimizar p {
  margin-bottom: 32px;
}

.otimizar-img {
  width: 100%;
  max-width: 500px;
}

@media (max-width:900px){
  .otimizar-img {
    display: none;
  }
}

@media (max-width:800px) {
  .otimizar {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    text-align: center;
  }
  .otimizar h1 {
    margin-bottom: 16px;
  }
}

