.produtos-bg {
  background-color: var(--cor-1);
}

.produtos {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center; 
}

.produtos h1 {
  padding-top: 30px;
  margin-bottom: 40px;
}


@media (max-width: 800px) {
  .produtos {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}