.vantagens-bg {
  background: var(--cor-2);

}

.vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 20px;
}

.vantagens-bg h1 {
  padding-top: 80px;
  text-align: center;
}

.vantagens-itens {
  text-align: left;
  grid-column: 1;
}

.vantagens-itens h3 {
  margin-bottom: 15px;
}

.vantagens-diagrama {
  grid-column: 2;
  grid-row: 2 /6;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.vantagens button {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .vantagens {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .vantagens-itens {
    max-width: 600px;
  }

  .vantagens-diagrama {
    grid-column: 1;
    max-width: 680px;
    margin-bottom: 32px;
  }
}
